<div class="bb">
<h2><b>About</b></h2>
<p>Welcome to Wineweb…’the home of good wines’.  At WineWeb we offer FREE DELIVERY WITHIN SOUTH AFRICA.Wineweb is the premier online boutique where you can purchase both local as well as international wines. We have a large selection of over 1000 wines available, with a choice of boutique wines, mixed cases, premium wines and more. With such a diverse range, you are sure to find a wine, which perfectly suits your palette at Wineweb.</p>
 
<p>Wineweb was launched in 2006, at which time the brand was introduced to the South African market, and pioneered its quality product offering and strength.  During mid-2013, ownership of Wineweb changed hands to Joyce Ysel and Lance Talberg. Together they have continued to build upon the strong base Wineweb has created in the industry, while simultaneously taking the company into new, unexplored avenues and alliances, thereby strengthening the brand and product offering even further.
Wineweb stocks over 1000 varieties and allows you to virtual shop from the relaxation and comfort of your home and enjoy FREE STANDARD DELIVERY within South Africa.</p>
<p>Perusing, reviewing or selecting from among hundreds of local and international wines, or sourcing classic French champagne, without leaving your comfort environment, is cyber heaven. Best of all, there is no need to lug or wheel your choice of bottles to the checkout counter. Any order is merely a few mouse-clicks away. Select your wines by placing them in your online shopping cart, pay via our online system, and voila... your selection is dispatched to your front door, safely delivered for savouring at your leisure.</p>
<p>All our delivery parcels are packaged into specifically manufactured cardboard boxes for safe travel to the final destination. Our delivery times are generally between 3 – 15 working days, within major areas, from the date of order. Outlying areas of South Africa take around 3 – 21 working days for delivery with an overnight delivery method available should it be requested (at an additional charge). All stock at Wineweb can ship internationally. Please contact us for special rates and requests. </p>
<b>*Please note that images and vintages may change on the website without prior notice.</b>
<p>For those wanting to discover more, and be further educated about the art of wine, we have a special Wineweb Club, which you can join. Our Wine Club is for those who are having trouble discovering new favourites, and find themselves stuck with the selections and recommendations made by their local wine stockist.</p>
<p>These terms & conditions apply to all orders placed at WINEWEB.CO.ZA.</p>
<p>Please note the importance of reading our purchasing terms and conditions carefully. Under South African law they affect your consumer rights and liabilities. By accepting these terms and conditions you indicate that you agree to them and therefore may purchase products from WINEWEB.CO.ZA.</p>
<h4><b>DETAILED DESCRIPTION OF GOODS & SERVICES</b></h4>
<p>WINEWEB.CO.ZA is an online wine shop & web portal site that sells most South African wines. A Virtual Shop that contains both the most prestigious wines from South Africa as well as its best kept secrets - the boutique wineriesthat only offer limited quantities of wine.</p>
<b>ORDER PROCESSING</b>
<p>The status of your order will be confirmed via email. We do not sell wine to anyone under the age of 18. We do not process orders from the US for individuals under the age of 21.
All wine prices quoted now include VAT. Wine purchases for international delivery will not be charged VAT. The price of the items excludes the delivery charge which will be calculated during checkout.
Errors and Omissions Excluded. </p><b>*Please note that images and vintages may change without prior notice.</b>
<p><b>AVAILABILITY</b>
We will endeavour to source the wine and vintage you are looking for, however this will be subject to availability. Sometimes we may be out of stock of certain wines.
Subject to availability and receipt of payment, the order will be delivered to the address confirmed by you upon checkout. *Please note that images and vintages may change without prior notice.</p>
<p><b>DELIVERY</b>
All deliveries within South Africa are by Courier and direct to your door. When your order is delivered a signature must be obtained from an adult older than 18 years. Should you not be available to take receipt of your package a note will be left requiring you to contact the Courier office to make arrangements to deliver the package at a suitable time.
Important notice: Any Special Delivery Instructions requesting the courier to leave the package in a specific location effectively gives them permission to deliver the package without a signature.
Please report any Breakages or Shortages to WINEWEB.CO.ZA within 24 hours, preferably by email and quoting your receipt number.
Insurance: Goods are only insured up to the point of delivery: Until a signature is obtained or wherever the goods are left as per your special delivery instructions.</p>
<p><b>SHIPPING</b><br>
Important information:
<ul>
<li>Costs include: Insurance, VAT, fuel levies & special packaging to ensure safe delivery</li>
<li>Parcels are delivered to the door of the recipient</li>
<li>Overnight service is available on request, please contact us for a quotation</li>
<li>Please note that during Christmas & Easter season times, delays can be experienced due to increased freight volumes & public holidays</li>
<li>Indicate postal codes with delivery address.</li>
<li>All parcels are packaged into specially manufactured cardboard boxes for safe travel.</li>
<li>Wines cannot be delivered to Post Box numbers</li>
</ul></p>
</div>