<div class="col-md-2">
    <div class="side1">
      <div class="sidetop">
      CATEGORIES
      </div>
      
        <div id="category" >
          <%= render @categories %>
        </div>
    </div>
  </div>